{% extends 'layouts/base.html' %}
{% block title %}Tec Events{% endblock %}

{% block content %}
<header class="px-6 py-10 lg:py-20 bg-blue-500">
    <div class="max-w-3xl mx-auto text-center">
        <p class="mb-2 text-3xl lg:text-5xl text-white">Welcome to Tec Events</p>

        <p class="mb-10 text-white">All events available at a click of a button</p>
        
        <a href="" class="inline-block px-8 py-4 rounded-xl bg-white text-blue-500 hover:bg-gray-200">Start exploring</a>
    </div>

    
</header>
<div class="max-w-6xl mx-auto py-2 px-6 xl:px-0">
    <div class="products flex items-center flex-wrap">
        <div class="w-full sm:w-1/4 md:w-1/3 xl:2-1/4 p-6">
            <a href="">
                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/tech-event-poster-motion-design-template-f18977e9013a2dfcb70942510748bbe9_screen.jpg?ts=1567082234" alt="Event" class="rounded-xl hover:shadow-lg">
            </a>

            <div class="pt-3 flex items-center justify-between">
                <a href="">Event name</a>

                <a href="" class="text-blue-500 hover:text-blue-800">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                    </svg>
                </a>
            </div>

            <p class="pt-1 text-gray-400">Engineering</p>
        </div>
    </div>
</div>



{% endblock content %}